@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
    --dark-purple: #2f3254;
    --light-purple: #6269b3;
    --background: #222222;
    --canvas-background: #0a0c12;
    --white: #ffffff;
    --btn-dark-background: #b1b4ba;
    --btn-light-background: #F1F6FB;
    --border: #C8CCD4;
    --primary-text: #222222;
    --green: #66b362;
}
body, input, textarea, button {
    font-family: 'Righteous', cursive;
}

body {
    background: var(--background);
    margin: 0;
    padding: 1.3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    justify-content: space-between;
}
.title {
    text-align: center;
}

.game-container {
    position: relative;
    box-shadow: 0 0 0 3px var(--light-purple);
}

.canvas-container {
    height: 520px;
}
.canvas-container #canvas {
    background:var(--canvas-background);
}

.btn {
    background: linear-gradient(145deg, var(--btn-dark-background), var(--btn-light-background) 50%);
    border: 2px solid var(--border);
    box-shadow: 0 0 0 3px var(--light-purple), 0 5px 3px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;
    color: var(--primary-text);
    padding: 1rem 1.5rem;
    margin-top: 1.2rem;
    transform: translateY(-3px);
    transition: all 0.08s ease-out;
}
.btn.small {
    padding: 0.7rem 1.3rem;
    margin: 0;
}
.btn:active, .btn:focus {
    background: linear-gradient(var(--btn-dark-background), var(--btn-light-background));
    transform: translateY(0);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2), 0 5px 3px rgba(0, 0, 0, 0.2);
    outline: none;
}

/* pause button wrapper */
.btn-wrapper {
    margin-left: 2rem;
}
.btn-wrapper .pause-btn {
    display: none;
}

.info-container {
    color: var(--white);
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    background: var(--canvas-background);
    border-bottom: 1px solid var(--border);
}
.info-container .score-screen {
    flex: 1;
    background:var(--canvas-background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
.info-container > div {
    flex: 1;
    padding: 0.5rem 0;
    box-sizing: border-box;
}

#next-piece {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(var(--light-purple), var(--dark-purple));    
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
}
.overlay-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 1rem;
    width: 100%;
}

.options {
    display: none;
    justify-content: center;
    flex-direction: column;
    font-size: 1rem;
}
.controls {
    display: none;
    justify-content: center;
    flex-direction: column;
    font-size: 1rem;
}

.settings-screen {
    display: none;
}
.settings-screen.open, .options.open, .controls.open {
    display: flex;
}

/* checkbox */
.check-wrapper {
    border-radius: 50px;
    width: 40px;
    height: 40px;
    position: relative;
}
.check-wrapper input {
    opacity: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.check-wrapper input:checked + label::after {
    transform: scale(0.8);
    box-shadow: inset 0 0 2px var(--dark-purple);
    border-color: var(--green);
}
.check-wrapper input:checked + label {
    box-shadow: inset 0 0 3px var(--dark-purple);
}
.check-wrapper label {
    border-radius: 50px;
    background: var(--dark-purple);
    box-shadow: inset 0 0 3px var(--light-purple);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.check-wrapper label::after {
    content: '';
    background: linear-gradient(145deg, var(--btn-dark-background), var(--btn-light-background) 50%);
    border: 3px solid var(--border);
    border-radius: 50px;
    box-sizing: border-box;
    box-shadow: inset 0 0 2px var(--dark-purple), 3px 3px 5px rgba(0, 0, 0, 0.4);
    border-collapse: collapse;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0.88);
    transition: transform 0.3s cubic-bezier(0,1.15,0,1.59);
}

/* -------------------- */

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.row > p {
    margin: 0;
}
.row > .btn {
    flex: 0 1 0;
}

.choose-control {
    background: var(--white);
    color: var(--primary-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5rem 1.8rem;
    box-shadow: 0 0 0 3px var(--light-purple), 0 2px 5px rgba(0, 0, 0, 0.4);
    display: none;
    width: 210px;
    z-index: 2;
}

.choose-control-overlay {
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.choose-control.active, .choose-control-overlay.active {
    display: block;
}